@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Bebas+Neue&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    background-image: url(banner.jpg);
    background-repeat: no-repeat;
    background-size: 980px 750px;
    width: 970px;
    height: 6670px;
}
#a{
    font-size: 43px;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-stroke: 1000000px black;
    
}
#hr1{
    height: 3px;
    background: white;
}
a{
    color: white;
    font-size: 40px;
    text-decoration: none;
    font-family: 'Bebas Neue', san-serif;
    letter-spacing: 1px;
}
#s{
    color: transparent;
}
#b{
    color: white;
    font-family: impact, san-serif;
    font-size: 20px;
}
#c{
    position: absolute;
    top: 250px;
}
#d{
    top: 250px;
    left: 500px;
    position: absolute;
}
button {
  width: 400px;
  height: 100px;
  padding: 1.3em 3em;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  background-color: #06f;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(255, 255, 255, 2);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}


button:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

button:active {
  transform: translateY(-1px);
}

#about{
    font-size: 60px;
    color: #5c3205;
    font-family: 'Bebas Neue', san-serif;
    letter-spacing: 1px;
}
#e{
    font-size: 40px;
    font-family: 'Montserrat', san-serif;
}

#works{
    font-size: 60px;
    color: #5c3205;
    font-family: 'Bebas Neue', san-serif;
    letter-spacing: 1px;
}
#c1{
  margin: auto;
  border-radius: 50px;
  width: 900px;
  height: 700px;
  box-shadow: 5px 5px 7px;
  overflow: auto;
  position: relative;
  background: linear-gradient(black, grey);
}
#g{
    background: linear-gradient(to right, black, white);
  color: transparent;
  -webkit-background-clip: text;
  text-align: center;
  font-size: 50px;
}
#l{
    background: linear-gradient(to right, black, white);
  color: transparent;
  -webkit-background-clip: text;
  text-align: center;
  font-size: 30px;
}
#hi{
    background: linear-gradient(black, grey);
}
#contact{
    font-size: 60px;
    color: #5c3205;
    font-family: 'Bebas Neue', san-serif;
    letter-spacing: 1px;
}

.input-group {
 position: relative;
}

.input {
 border: solid 7px #9e9e9e;
 width: 700px;
 height: 120px;
 border-radius: 35px;
 background: none;
 padding: 1rem;
 font-size: 50px;
 color: #9e9e9e;
 transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

.user-label {
 position: absolute;
 left: 15px;
 font-size: 45px;
 color: #9e9e9e;
 pointer-events: none;
 transform: translateY(1rem);
 transition: 150ms cubic-bezier(0.4,0,0.2,1);
}

.input:focus, input:valid {
 outline: none;
 border: 7px solid #1a73e8;
}

.input:focus ~ label, input:valid ~ label {
 transform: translateY(-50%) scale(0.8);
 background-color: white;
 padding: 0 .2em;
 color: #2196f3;
}

.inputy {
 border: solid 7px #9e9e9e;
 width: 900px;
 height: 700px;
 border-radius: 35px;
 background: none;
 padding: 1rem;
 font-size: 50px;
 color: black;
 transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

#end{
    background: #3a67b0;
    width: 977px;
    height: 85px;
    padding: 0px;
}
#j{
    background: linear-gradient(to right, #F5F5DC, #7B3F00);
}
#h{
    top: 50px;
    left: 500px;
    position: relative;
}
